<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../static/src/output.css" rel="stylesheet" />
  <title>Order To Chois</title>
  <script src="../static/js/zip.js"></script>
  <script src="../static/js/strToUtf8Array.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="font-sans my-24 mx-8 xl:mx-auto max-w-screen-xl">
  <div class="md:flex content-center card">
    <div class="my-auto grow">
      <h1>
        Order
        <span class="gradText">To</span>
        Chois
      </h1>
      <p class="mt-8 text-xs md:text-sm lg:text-lg text-slate-600 tracking-wider leading-relaxed">
        面倒で時間ばかりかかる発注作業を<span class="under">自動化</span>しましょう👍<br />
        このツールでは、CHOISの一括発注に必要なCSVファイルを作成できます。
        <br /><br />
        過去に発注した医薬品を95%の確率でカバーするように設計されています。<br />
        欠品がないことを重視した設計のため、<span class="under">月初発注</span>として使うのがオススメ👨‍🏫
      </p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="300" height="300" class="mx-auto"
      viewBox="0 0 663.81023 579.74866" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path
        d="M779.295,289.70038H422.88559a13.6248,13.6248,0,0,1-13.609-13.609V173.7347a13.6248,13.6248,0,0,1,13.609-13.609H809.46a13.62481,13.62481,0,0,1,13.609,13.609v72.19165A43.82337,43.82337,0,0,1,779.295,289.70038Z"
        transform="translate(-268.09489 -160.12567)" fill="#f2f2f2" />
      <path d="M656.35442,196.5287H493.6012a3.50978,3.50978,0,1,1,0-7.01956H656.35442a3.50978,3.50978,0,0,1,0,7.01956Z"
        transform="translate(-268.09489 -160.12567)" fill="#fff" />
      <path d="M738.743,210.88379H493.6012a3.50978,3.50978,0,1,1,0-7.01956H738.743a3.50978,3.50978,0,0,1,0,7.01956Z"
        transform="translate(-268.09489 -160.12567)" fill="#fff" />
      <path d="M738.743,227.3615H493.6012a3.50978,3.50978,0,1,1,0-7.01956H738.743a3.50978,3.50978,0,0,1,0,7.01956Z"
        transform="translate(-268.09489 -160.12567)" fill="#fff" />
      <path d="M738.743,243.83921H493.6012a3.50978,3.50978,0,1,1,0-7.01956H738.743a3.50978,3.50978,0,0,1,0,7.01956Z"
        transform="translate(-268.09489 -160.12567)" fill="#fff" />
      <path d="M738.743,260.31691H493.6012a3.50978,3.50978,0,1,1,0-7.01955H738.743a3.50978,3.50978,0,0,1,0,7.01955Z"
        transform="translate(-268.09489 -160.12567)" fill="#fff" />
      <path
        d="M686.63951,383.87986H281.70392a13.6248,13.6248,0,0,1-13.609-13.609V249.54791a13.6248,13.6248,0,0,1,13.609-13.609H686.63951a13.6248,13.6248,0,0,1,13.609,13.609V370.27083A13.6248,13.6248,0,0,1,686.63951,383.87986Z"
        transform="translate(-268.09489 -160.12567)" fill="#e6e6e6" />
      <path
        d="M647.295,374.70038H290.88559a13.6248,13.6248,0,0,1-13.609-13.609V258.7347a13.6248,13.6248,0,0,1,13.609-13.609H677.46a13.62481,13.62481,0,0,1,13.609,13.609v72.19165A43.82337,43.82337,0,0,1,647.295,374.70038Z"
        transform="translate(-268.09489 -160.12567)" fill="#fff" />
      <path d="M524.35442,281.5287H361.6012a3.50978,3.50978,0,1,1,0-7.01956H524.35442a3.50978,3.50978,0,0,1,0,7.01956Z"
        transform="translate(-268.09489 -160.12567)" fill="#00b0ff" />
      <path d="M606.743,295.88379H361.6012a3.50978,3.50978,0,1,1,0-7.01956H606.743a3.50978,3.50978,0,0,1,0,7.01956Z"
        transform="translate(-268.09489 -160.12567)" fill="#e6e6e6" />
      <path d="M606.743,312.3615H361.6012a3.50978,3.50978,0,1,1,0-7.01956H606.743a3.50978,3.50978,0,0,1,0,7.01956Z"
        transform="translate(-268.09489 -160.12567)" fill="#e6e6e6" />
      <path d="M606.743,328.83921H361.6012a3.50978,3.50978,0,1,1,0-7.01956H606.743a3.50978,3.50978,0,0,1,0,7.01956Z"
        transform="translate(-268.09489 -160.12567)" fill="#e6e6e6" />
      <path d="M606.743,345.31691H361.6012a3.50978,3.50978,0,1,1,0-7.01955H606.743a3.50978,3.50978,0,0,1,0,7.01955Z"
        transform="translate(-268.09489 -160.12567)" fill="#e6e6e6" />
      <path
        d="M407.62431,477.38287a26.16382,26.16382,0,1,1,26.16383-26.16382A26.16383,26.16383,0,0,1,407.62431,477.38287Z"
        transform="translate(-268.09489 -160.12567)" fill="#e6e6e6" />
      <path
        d="M417.94786,448.6382h-7.74261v-7.74272a2.58094,2.58094,0,0,0-5.16187,0v7.74272h-7.74272a2.5809,2.5809,0,0,0,0,5.16179h7.74272v7.74271a2.58094,2.58094,0,0,0,5.16187,0V453.8h7.74261a2.5809,2.5809,0,1,0,0-5.16179Z"
        transform="translate(-268.09489 -160.12567)" fill="#fff" />
      <path
        d="M484.17171,477.38287a26.16382,26.16382,0,1,1,26.16383-26.16382A26.16383,26.16383,0,0,1,484.17171,477.38287Z"
        transform="translate(-268.09489 -160.12567)" fill="#e6e6e6" />
      <path d="M494.49526,448.6382H473.84805a2.5809,2.5809,0,0,0,0,5.16179h20.64721a2.5809,2.5809,0,1,0,0-5.16179Z"
        transform="translate(-268.09489 -160.12567)" fill="#fff" />
      <path
        d="M560.71911,477.38287a26.16382,26.16382,0,1,1,26.16383-26.16382A26.16383,26.16383,0,0,1,560.71911,477.38287Z"
        transform="translate(-268.09489 -160.12567)" fill="#00b0ff" />
      <path
        d="M575.43837,449.97615,568.021,439.14981a2.19976,2.19976,0,0,0-3.6294,2.48662l4.797,7.00173H550.39548a2.5809,2.5809,0,1,0,0,5.16179h19.02923l-5.03307,7.34623a2.19977,2.19977,0,0,0,3.6294,2.48663l7.41733-10.82635a2.9026,2.9026,0,0,0,0-2.83031Z"
        transform="translate(-268.09489 -160.12567)" fill="#fff" />
      <polygon points="460.467 565.314 448.382 565.313 442.632 518.694 460.47 518.695 460.467 565.314" fill="#a0616a" />
      <path
        d="M728.9879,738.04754l-37.16649-.00139v-.47005a14.467,14.467,0,0,1,14.46623-14.466h.00089l6.78893-5.15044,12.66665,5.15124,3.2444.00011Z"
        transform="translate(-268.09489 -160.12567)" fill="#2f2e41" />
      <polygon points="553.032 552.243 541.862 556.856 518.748 515.964 535.235 509.155 553.032 552.243"
        fill="#a0616a" />
      <path
        d="M826.33411,723.85849l-34.35139,14.18905-.17947-.43443a14.467,14.467,0,0,1,7.84712-18.89339l.00082-.00034,4.30816-7.3523,13.67383-.07519,2.99866-1.23863Z"
        transform="translate(-268.09489 -160.12567)" fill="#2f2e41" />
      <path
        d="M787.30916,476.14147s-9.36371-29.53122-5.482-41.61971l21.58832-1.31013,2.47006,43.57472-12.33889,50.38252a8.59386,8.59386,0,1,1-14.46257-3.10407Z"
        transform="translate(-268.09489 -160.12567)" fill="#a0616a" />
      <path
        d="M801.08451,415.64487l-3.23606-14.23769a41.68737,41.68737,0,0,0-18.54393-26.10368h0a18.24983,18.24983,0,0,0-19.26358.013h0a18.20679,18.20679,0,0,0-6.29481,24.048c6.66285,12.30722,6.697,26.25287,16.55673,26.64532l-.38609,5.1206,13.57992,29.668,26.57532-6.70787Z"
        transform="translate(-268.09489 -160.12567)" fill="#e6e6e6" />
      <path
        d="M783.29875,480.00006s6.91364,22.99541,1.46174,42.62691-9.847,66.98262-9.847,66.98262l40.69827,100.50106-18.93344,4.88117-60.49439-98.82747L730.47731,699.8163l-18.25123.74865L698.44976,596.76331l10.92737-104.39684Z"
        transform="translate(-268.09489 -160.12567)" fill="#2f2e41" />
      <path
        d="M786.356,500.06847l.11054-.15505c5.90356-8.26511-2.97541-28.126-4.31456-31.00508h0a7.22818,7.22818,0,0,0,4.94757-7.71971l-.57729-4.90723-.60174-4.81333,4.31092-4.31093.01212-.10751,2.48087-21.70758,3.60712-14.41795a31.65377,31.65377,0,0,0-8.98437-30.6762l-8.33779-1.32394-10.133-9.7633H752.53571l-5.60284,5.35307c-10.45926,1.83438-8.25612,1.23543-17.24044,12.01661l-11.2977,32.32106,1.01843,4.61118-.003,6.25428,1.60351,18.45029a8.95413,8.95413,0,0,0-2.124,7.7454l.3405,1.7024h0c-2.67035,1.14439-5.21844,21.48181-5.82723,24.32253l-.90938,4.24338c-.778,1.0266-5.91325,7.87385-5.91325,9.74569,0,.281.20744.5527.65262.85406,3.49961,2.36971,24.63949,4.8051,33.20047,1.37939,9.11912-3.64618,45.36908,1.8237,45.73431,1.87943Z"
        transform="translate(-268.09489 -160.12567)" fill="#e6e6e6" />
      <path
        d="M677.09464,437.01113s26.26853-16.42365,38.94287-15.675l6.64559,20.58174-41.58642,13.24487-51.868.59814a8.59386,8.59386,0,1,1-.59578-14.77993Z"
        transform="translate(-268.09489 -160.12567)" fill="#a0616a" />
      <path
        d="M739.11577,435.2852l12.98307-6.6801a41.68743,41.68743,0,0,0,20.66259-24.46093h0a18.24985,18.24985,0,0,0-4.81033-18.65333h0a18.20678,18.20678,0,0,0-24.858-.10708c-10.26,9.51811-23.75764,13.02452-21.68209,22.67124l-5.0554.90141L691.0047,429.49747,704.12,453.56472Z"
        transform="translate(-268.09489 -160.12567)" fill="#e6e6e6" />
      <circle cx="492.73781" cy="178.45519" r="24.42835" fill="#a0616a" />
      <path
        d="M744.08192,310.37652c1.75078-.052,1.14977-3.35211,2.56032-4.40485q.01032.04791.02135.09563a3.43811,3.43811,0,0,0,6.57026.28031,5.22535,5.22535,0,0,1,3.31767-3.48052c.08784,3.05877,2.40156,5.71351,5.16177,7.03464s5.90744,1.541,8.96719,1.58623a39.57727,39.57727,0,0,1,9.13064.69153c2.967.74871,5.85306,2.50911,7.12072,5.29426,1.26772,2.78516.36322,6.61972-2.40873,7.916,2.1474.01144,3.96954,1.78345,4.712,3.79842a15.08241,15.08241,0,0,1,.4656,6.37329c-.6035,7.89923-2.07489,16.40368-7.82684,21.85135-4.3838,4.15191-10.65854,5.82447-16.69634,5.80032-6.0378-.02421-4.97615-.57919-10.8141-2.1202,6.00378.6727,4.36566-26.14917-5.55457-27.2356a7.39155,7.39155,0,0,1-.25668-.7259,8.26069,8.26069,0,0,0-5.159-5.47073,6.4063,6.4063,0,0,0-7.002,2.11905C729.9987,323.78451,733.96459,310.677,744.08192,310.37652Z"
        transform="translate(-268.09489 -160.12567)" fill="#2f2e41" />
      <path
        d="M897.41126,738.84925H864.22473l-.14257-.25879c-.42432-.76953-.834-1.585-1.2168-2.42285-3.41846-7.31836-4.86328-15.68848-6.13819-23.07325l-.96-5.5664a3.43688,3.43688,0,0,1,5.41016-3.36231q7.56519,5.50488,15.13623,10.999c1.91113,1.39062,4.09375,3,6.18408,4.73925.20166-.97949.4126-1.96191.62354-2.93066a3.43916,3.43916,0,0,1,6.28076-1.08594l3.88281,6.23828c2.832,4.55567,5.33154,9.04493,4.82227,13.88672a.75679.75679,0,0,1-.01319.17578,10.94736,10.94736,0,0,1-.56347,2.33106Z"
        transform="translate(-268.09489 -160.12567)" fill="#f0f0f0" />
      <path
        d="M930.72065,739.567l-315.3575.30731a1.19069,1.19069,0,0,1,0-2.38135l315.3575-.30731a1.19069,1.19069,0,0,1,0,2.38135Z"
        transform="translate(-268.09489 -160.12567)" fill="#cacaca" />
    </svg>
  </div>

  <div class="mt-8 card">
    <h2>Order To Chois の<span class="gradText">仕組み</span></h2>
    <p class="description">
      Order To Choisでは、記述統計に基づいて出庫量を予測しています。<br />
      まず、これまでの出庫量のバラつきを計算し、95%の確率で出庫量を推測します。<br />
      予測される最大の出庫量から、現在の在庫数を引いた数値を充たすように、発注数を計算します。<br />

      詳しくは、<a href="https://www.mcframe.com/column/demands/ju05.html">需要予測による在庫管理</a>や、<a
        href="https://statg.com/kiso/confint.html">母平均の推定精度の指標【統計学・統計解析講義基礎】</a>をご覧ください。
    </p>
  </div>

  <div class="mt-8 card">
    <div class="border border-indigo-100 p-4 rounded-xl mb-12 text-slate-700">
      <div class="flex">
        <h2>途中から再開したい方はコチラ</h2>
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="38px" height="38px"
          preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
          <path fill="#99AAB5" d="M2.75 19.333L5 16l3 3l4-2l3 3l4-6l4 3l3-1l2 3l3-3l2 4l-2 7l-11 5l-11-2l-6-6z" />
          <path fill="#FFCC4D"
            d="M29.956 14.712c.021-.287.044-.574.044-.866c0-5.943-4.324-10.864-9.996-11.819c1.189-.26 2.031-.509.996-1.027c-1.115-.558-2.23.129-2.999.846h-.002C17.23 1.129 16.116.442 15 1c-1.035.518-.193.767.996 1.026C10.325 2.981 6 7.902 6 13.846c0 .292.023.579.044.867C5.562 21.313-.259 31 18 31s12.438-9.687 11.956-16.288z" />
          <path fill="#F4900C" d="M21 14c0 1.657-1.343 2-3 2s-3-.343-3-2a3 3 0 1 1 6 0z" />
          <circle cx="11.5" cy="11.5" r="1.5" fill="#662113" />
          <circle cx="24.5" cy="11.5" r="1.5" fill="#662113" />
          <path fill="#E1E8ED"
            d="m31 25l-3-1l-4 6l-3-5l-2 2l-4-2l-3 4l-3-6l-3 2l-3.294-7.765A13.26 13.26 0 0 0 2 21.5C2 29.509 9.164 36 18 36s16-6.491 16-14.5c0-1.244-.191-2.444-.517-3.597L31 25z" />
        </svg>
      </div>
      <p class="text-sm leading-relaxed">
        発注途中のファイルがある場合は、こちらから再開できます。<br />
        現在庫は自動更新されないので、できるだけ早めに発注を完了してください。
      </p>
      <div class="mb-4 mt-8 text-right">
        <a class="linkButton" href="./edit_continue">発注を再開する</a>
      </div>
    </div>

    <div class="flex items-start">
      <h2 class="mt-4 mb-8">一括発注用ファイルを作成する</h2>
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="40px" height="60px"
        preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
        <path fill="#C1694F" d="M32 34a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h24a2 2 0 0 1 2 2v27z" />
        <path fill="#FFF" d="M29 32a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h20a1 1 0 0 1 1 1v23z" />
        <path fill="#CCD6DD" d="M25 3h-4a3 3 0 1 0-6 0h-4a2 2 0 0 0-2 2v5h18V5a2 2 0 0 0-2-2z" />
        <circle cx="18" cy="3" r="2" fill="#292F33" />
        <path fill="#99AAB5"
          d="M20 14a1 1 0 0 1-1 1h-9a1 1 0 0 1 0-2h9a1 1 0 0 1 1 1zm7 4a1 1 0 0 1-1 1H10a1 1 0 0 1 0-2h16a1 1 0 0 1 1 1zm0 4a1 1 0 0 1-1 1H10a1 1 0 1 1 0-2h16a1 1 0 0 1 1 1zm0 4a1 1 0 0 1-1 1H10a1 1 0 1 1 0-2h16a1 1 0 0 1 1 1zm0 4a1 1 0 0 1-1 1h-9a1 1 0 1 1 0-2h9a1 1 0 0 1 1 1z" />
      </svg>
    </div>
    <!-- <form action="/upload" method="POST" onsubmit="clickButton()"> -->
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <ol class="items-start xl:flex space-y-20 xl:space-y-0">
        <li class="relative mb-6 sm:mb-0">
          <div class="flex items-center">
            <div class="animatedBadge">Step 1</div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
          </div>
          <div class="mt-8 sm:pr-8 lg:border-r lg:mr-8">
            <h3>過去1年分の<span class="gradText">入庫</span>データ</h3>
            <ol class="list space-y-4">
              <li>「入庫・出庫」タブを開く</li>
              <li>入庫・出庫伝票検索をクリック</li>
              <li>入庫区分から、<br />「仕入」「仕入（手書）」のみに✅</li>
              <li>
                伝票日付を現在月を含まないように1年分設定<br />*
                今が2022/5なら、<br />2021/5/01～2022/4/30と設定
              </li>
              <li>
                「ファイル出力」から自分がわかるように名前を付けてCSVを保存
              </li>
            </ol>

            <input class="inputButton" type="file" name="file1" accept="text/csv" />
          </div>
        </li>
        <li class="relative mb-6 sm:mb-0">
          <div class="flex items-center">
            <div class="animatedBadge">Step 2</div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
          </div>
          <div class="mt-8 sm:pr-8 lg:border-r lg:mr-8">
            <h3>5ヵ月分の<span class="gradText">出庫</span>データ</h3>
            <ol class="list space-y-4">
              <li>「入庫・出庫」タブを開く</li>
              <li>出庫区分から、「処方」のみに✅</li>
              <li>
                伝票日付を現在月を含まないように5～6か月分設定<br />
                * 入庫と同じです。<br />
                CHOISが1回に9999行しか出力できないので、<br />
                限界に達していたら月数を減らしてください
              </li>
              <li>
                「ファイル出力」から自分がわかるように名前を付けてCSVを保存
              </li>
            </ol>
            <input class="inputButton" type="file" name="file2" accept="text/csv" />
          </div>
        </li>
        <li class="relative mb-6 sm:mb-0">
          <div class="flex items-center">
            <div class="animatedBadge">Step 3</div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
          </div>
          <div class="mt-8 sm:pr-8">
            <h3><span class="gradText">医薬品集</span></h3>
            <ol class="list space-y-4">
              <li>「在庫・棚卸」タブを開く</li>
              <li>在庫一覧をクリック</li>
              <li>医薬品集ボタンをクリック</li>
            </ol>
            <input class="inputButton" type="file" name="file3" accept="text/csv" />
          </div>
        </li>
      </ol>
      <!-- <ol class="mt-20 items-start xl:flex space-y-20 xl:space-y-0">
        <li class="relative mb-6 sm:mb-0">
          <div class="flex items-center">
            <div class="animatedBadge">Step 4</div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
          </div>
          <div class="mt-8 sm:pr-8">
            <h3>今週は<span class="gradText">何週目</span>ですか？</h3>
              <select name="week" class="bg-gray-50 border border-violet-300 text-slate-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5">
                <option selected class="bg-indigo-50 py-1">週数を選んでください。</option>
                <option value="4">1週目（安全係数:4）</option>
                <option value="3">2週目（安全係数:3）</option>
                <option value="2">3週目（安全係数:2）</option>
                <option value="1">4週目（安全係数:1）</option>
                <option value="1">5週目（安全係数:1）</option>
              </select>
              <p class="description mt-2">在庫を抑えるため、週の前半ほど多く、後半ほど少なく発注できます。</p>
              <p class="description">安全係数が多いほど、多くの医薬品を発注します。</p>
          </div>
        </li>
      </ol> -->
      <!-- <div id="root"></div> -->
      <div class="text-right">
        <button class="linkButton" type="submit">
          <div class="flex">
            <svg id="progress" role="status" class="w-0 text-indigo-100 dark:text-gray-600 fill-indigo-500"
              viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
            </svg>
            作成する
          </div>
        </button>
      </div>
     
      <div class="text-right mt-4 text-xs text-slate-500">
        <p>作成には10～20秒程度の時間がかかります。</p>
        <p>投薬前にポチっとするか、コーヒーを飲むなどしてお待ちください🙇</p>
      </div>
    </form>
    <!-- </form> -->

    <div class="bg-orange-50 p-4 rounded-xl mt-8 mb-12 text-slate-700">
      <h3>🔥 注意</h3>
      <p class="text-sm leading-relaxed">
        一括発注用ファイルはエクセルで編集するとJANコードが自動で変更されてしまいます。<br />
        開かずにこのツールで作成したファイルをCHOISへ取り込んでから「行削除」を使って削除してください。
      </p>
    </div>
  </div>

  <!-- <a class="btn btn-default" id="export" href="#" download="sample.zip" />export</a> -->

  <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>

  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

  <script src="../static/js/names.js"></script>
  <script src="../static/js/downloadCSV.js"></script>

  <script type="text/babel">
    "use strict";

    function clickButton(){
      changeButtonToProgress();
    }

    async function getZip(name, saveFileName) {
      var zip = new Zlib.Zip();

      const file = document.getElementsByName(name)[0].files[0];

      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsText(file, "shift-jis");
        reader.onload = function () {
          // console.log(reader.result[0]);

          zip.addFile(strToIntArray(reader.result), {
            filename: strToIntArray(saveFileName),
          });

          const compless = zip.compress();
          const f = new File([compless], `${saveFileName}.zip`, {
            type: "application/zip",
          });

          resolve(f);
        };
      });
    }

    function saveExport(list) {
      var blob = new Blob(list, { type: "application/zip" });

      if (window.navigator.msSaveBlob) {
        window.navigator.msSaveBlob(blob, "sample.zip");
        window.navigator.msSaveOrOpenBlob(blob, "sample.zip");
      } else {
        document.getElementById("export").href =
          window.URL.createObjectURL(blob);
      }
    }

    function changeButtonToProgress() {
      let e = document.getElementById("progress");
      e.classList.remove("w-0");
      e.classList.add("w-8", "h-8", "animate-spin", "mr-2");
    }

    const editList = [
      {
        医薬品名: "テスト",
        "2021-12": 0.0,
        "2022-01": 0.0,
        平均出庫量: 72.8,
        在庫数量: 36.0,
        JANコード: 4987896000184.0,
        仕入単価: 1853.0,
        包装単位: 100.0,
        発注数: 4.0,
      },
    ];

    // NOTE: SVG  -------------------------------------------------------------

    const sortSVG = (
      <svg
        width="20"
        height="20"
        fill="none"
        className="m-1"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.034 2a1 1 0 0 1 .945.673l2.793 8.069a1 1 0 0 1-1.89.654l-.412-1.19H5.597l-.411 1.19a1 1 0 0 1-1.89-.654l2.793-8.07A1 1 0 0 1 7.034 2Zm0 4.057-.744 2.15h1.488l-.744-2.15ZM4.749 13a1 1 0 1 0 0 2H8l-4.05 5.4a1 1 0 0 0 .8 1.6H10a1 1 0 1 0 0-2H6.75l4.05-5.4A1 1 0 0 0 10 13H4.75Zm7.544 3.293a1 1 0 0 1 1.414 0l2.292 2.292V3a1 1 0 1 1 2 0v15.586l2.294-2.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414Z"
          fill="#4f46e599"
        />
      </svg>
    );

    const trashSVG = (
      <svg
        width="24"
        height="24"
        className="mx-auto"
        fill="#F87171"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M10.5 9H9v9h1.5V9Z"></path>
        <path d="M15 9h-1.5v9H15V9Z"></path>
        <path d="M3 4.5V6h1.5v15A1.5 1.5 0 0 0 6 22.5h12a1.5 1.5 0 0 0 1.5-1.5V6H21V4.5H3ZM6 21V6h12v15H6Z"></path>
        <path d="M15 1.5H9V3h6V1.5Z"></path>
      </svg>
    );

    const backSVG = (
      <svg
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7 19a1 1 0 0 0 1 1h5c2.242 0 4.01-.778 5.218-2.023C19.414 16.744 20 15.113 20 13.5c0-1.613-.586-3.244-1.782-4.477C17.01 7.778 15.242 7 13 7H8.414l2.043-2.043a1 1 0 0 0-1.414-1.414l-3.75 3.75a1 1 0 0 0 0 1.414l3.75 3.75a1 1 0 0 0 1.414-1.414L8.414 9H13c1.758 0 2.99.597 3.782 1.415.804.83 1.218 1.948 1.218 3.085s-.414 2.256-1.218 3.085C15.99 17.403 14.758 18 13 18H8a1 1 0 0 0-1 1Z"
          fill="#F6F6F6"
        />
      </svg>
    );

    const saveSVG = (
      <svg
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.75 3h-1A2.75 2.75 0 0 0 3 5.75v12.5A2.75 2.75 0 0 0 5.75 21H6v-6a2.25 2.25 0 0 1 2.25-2.25h4.813A6.477 6.477 0 0 1 17.5 11a6.47 6.47 0 0 1 3.5 1.022V8.286a3.25 3.25 0 0 0-.952-2.299l-2.035-2.035A3.25 3.25 0 0 0 15.75 3v4.5a2.25 2.25 0 0 1-2.25 2.25H9A2.25 2.25 0 0 1 6.75 7.5V3Zm1.5 11.25h3.62A6.47 6.47 0 0 0 11 17.5a6.47 6.47 0 0 0 1.022 3.5H7.5v-6a.75.75 0 0 1 .75-.75Zm6-11.25v4.5a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75V3h6ZM23 17.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Zm-8.5-.5a.5.5 0 0 0 0 1h4.793l-1.647 1.646a.5.5 0 0 0 .708.708l2.5-2.5a.5.5 0 0 0 0-.708l-2.5-2.5a.5.5 0 0 0-.708.708L19.293 17H14.5Z"
          fill="#F6F6F6"
        />
      </svg>
    );

    //----------------------------------------------------------------------

    function Description() {
      return (
        <div>
          <ol className="p-4 mt-4 ml-4 text-sm leading-relaxed">
            <li>
              ・画面👇にあるボタンから一括発注用ファイルをダウンロードできます。
            </li>
            <li>
              ・表の右側にある「
              <span className="gradText fonr-semibold">発注数</span>
              」を変えることで、発注量を変えることもできます。
            </li>
            <li className="flex">
              ・{sortSVG} 👈を押すと、リストを並び替えることができます。
            </li>
          </ol>
          <div className="bg-blue-50 ml-8 p-4 rounded-xl mb-4 text-slate-700">
            <div className="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24px" height="24px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"><path fill="#3B88C3" d="M0 4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4z" /><path fill="#FFF" d="M20.512 8.071c0 1.395-1.115 2.573-2.511 2.573c-1.333 0-2.511-1.209-2.511-2.573c0-1.271 1.178-2.45 2.511-2.45c1.333.001 2.511 1.148 2.511 2.45zm-4.744 6.728c0-1.488.931-2.481 2.232-2.481c1.302 0 2.232.992 2.232 2.481v11.906c0 1.488-.93 2.48-2.232 2.48s-2.232-.992-2.232-2.48V14.799z" /></svg>
              <h3>アドバイス</h3>
            </div>
            <ol className="text-sm leading-relaxed">
              <li>
                ・リストは編集可能ですが、金額が高いものだけ確認して発注してしまった方が早いかもしれません。
              </li>
              <li>・[ Ctrl + F ] で検索可能です</li>
            </ol>
          </div>
          <div className="bg-orange-50 ml-8 p-4 rounded-xl mb-12 text-slate-700">
            <div className="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24px" height="24px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"><path fill="#F4900C" d="M35 19a16.96 16.96 0 0 0-1.04-5.868c-.46 5.389-3.333 8.157-6.335 6.868c-2.812-1.208-.917-5.917-.777-8.164c.236-3.809-.012-8.169-6.931-11.794c2.875 5.5.333 8.917-2.333 9.125c-2.958.231-5.667-2.542-4.667-7.042c-3.238 2.386-3.332 6.402-2.333 9c1.042 2.708-.042 4.958-2.583 5.208c-2.84.28-4.418-3.041-2.963-8.333A16.936 16.936 0 0 0 1 19c0 9.389 7.611 17 17 17s17-7.611 17-17z" /><path fill="#FFCC4D" d="M28.394 23.999c.148 3.084-2.561 4.293-4.019 3.709c-2.106-.843-1.541-2.291-2.083-5.291s-2.625-5.083-5.708-6c2.25 6.333-1.247 8.667-3.08 9.084c-1.872.426-3.753-.001-3.968-4.007A11.964 11.964 0 0 0 6 30c0 .368.023.73.055 1.09C9.125 34.124 13.342 36 18 36s8.875-1.876 11.945-4.91c.032-.36.055-.722.055-1.09c0-2.187-.584-4.236-1.606-6.001z" /></svg>
              <h3>注意</h3>
            </div>
            <ol className="text-sm leading-relaxed">
              <li>
                ・包装は、CHOISにファイルを取り込んだ後に変更可能なので必要に応じてメモしておきましょう。
              </li>
              <li>
                ・「削除したデータをもどす」機能はβ版です。並べ替え後に並び替え前の薬を戻すと場所が変わって危険です。
              </li>
              <li>・出庫数は小数点1桁を四捨五入して表示しています。</li>
            </ol>
          </div>
        </div>
      );
    }

    const root = ReactDOM.createRoot(document.getElementById("root"));
    function TableHead(props) {
      return (
        <thead className="text-sm text-indido-700 relative">
          <tr className="sticky top-10 bg-gray-50 ">
            {props.heads.map((e, i) => (
              <th
                key={e}
                scope="col"
                className={
                  i === 0
                    ? "py-3 text-center w-12"
                    : i === 1
                      ? "pl-6 mr-4"
                      : "py-3 mr-4 max-w-[80px]"
                }
              >
                <div className="flex items-center">
                  {e}
                  {e != "削除" ? (
                    <button
                      className="flex justify-end"
                      onClick={(_) => props.onSort(e)}
                    >
                      {sortSVG}
                    </button>
                  ) : (
                    <div></div>
                  )}
                </div>
              </th>
            ))}
          </tr>
        </thead>
      );
    }

    function TableBody(props) {
      return props.body.map((e) => (
        <tr
          key={e["医薬品名"]}
          className="bg-white border-b dark:bg-gray-800 hover:bg-indigo-100/30 text-slate-700"
        >
          <th>
            <div className="flex items-start">
              <button
                className=" hover:bg-slate-200/60 rounded-lg mx-auto p-2"
                onClick={() => props.onClickRemove(e)}
              >
                {trashSVG}
              </button>
            </div>
          </th>
          <td
            scope="row"
            className="px-4 py-4 xl:text-lg text-slate-600 font-semibold break-all"
          >
            {e["医薬品名"]}
          </td>
          {getMonthNames(props.body[0]).map((month) => (
            <td
              key={month}
              className={
                e[month] == 0
                  ? "max-w-[80px] text-base text-slate-300 font-semibold font-['Segoe_UI']"
                  : "max-w-[80px] text-base text-slate-500 font-semibold font-['Segoe_UI']"
              }
            >
              {e[month].toFixed()}
            </td>
          ))}

          {bodyNames.map((body) => (
            <td
              key={body}
              className={
                body === "在庫数量"
                  ? "max-w-[80px] text-base font-bold font-['Segoe_UI'] text-indigo-600"
                  : "max-w-[80px] text-base font-semibold font-['Segoe_UI'] text-slate-500"
              }
            >
              {e[body].toFixed()}
            </td>
          ))}
          <td>
            <input
              type="number"
              className="p-2 font-semibold text-base rounded-lg max-w-[80px] border focus:border focus:outline-none focus:border-indigo-400/60 focus:ring-indigo-400/60 focus:ring-2 "
              value={e["発注数"]}
              // TODO onchange
              onChange={(inputValue) => props.onChange(e, inputValue)}
            />
          </td>
        </tr>
      ));
    }

    // TODO head にデータをいれる
    function EditableTable() {
      const [data, setData] = React.useState(editList);

      // {"index", "value"}をもつオブジェクトとして保管しておく
      const [removedData, setRemoved] = React.useState([]);
      // {"sortKey", isAsc} をもつオブジェクトとして保管しておく
      const [sort, setSort] = React.useState({
        sortKey: "医薬品名",
        isAsc: true,
      });

      const inputJsonRef = React.useRef(null);

      async function clickButton() {
        changeButtonToProgress();

        const comp1 = await getZip("file1", "1y.csv");
        const comp2 = await getZip("file2", "5m.csv");
        const comp3 = await getZip("file3", "list.csv");

        const formData = new FormData();
        formData.append("file1", comp1);
        formData.append("file2", comp2);
        formData.append("file3", comp3);

        axios
          .post("/upload", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then(function (response) {
            // console.log(response);

            setData(response.data);
          })
          .catch(function (error) {
            console.log(error);
          });
      }

      if (data.length > 2) {
        return (
          <div>
            <Description />
            <div className="relative overflow-x-auto sm:rounded-lg h-[40rem]">
              <div className="gap-2 mb-4 flex items-center sticky top-0 block bg-white">
                <button
                  onClick={() => {
                    // console.log(removedData);
                    const pastObject = removedData[removedData.length - 1];

                    // console.log(pastObject);

                    if (pastObject) {
                      let newData = [...data];
                      newData.splice(
                        pastObject["index"],
                        0,
                        pastObject["value"]
                      );
                      // console.log(newData);

                      setData(newData);

                      let newRemovedData = [...removedData];
                      newRemovedData.pop();

                      setRemoved(newRemovedData);
                    }
                  }}
                  className="flex gap-2 shadow-indigo-500/30 text-right bg-slate-500 hover:bg-slate-400 text-white font-bold px-4 py-2 rounded-full tracking-wider "
                >
                  {backSVG}
                  削除したデータをもどす
                </button>

                <button
                  className="flex gap-2 shadow-indigo-500/30 text-right bg-indigo-500 hover:bg-indigo-400 text-white font-bold px-4 py-2 rounded-full tracking-wider "
                  onClick={() => downloadJson(data)}
                >
                  {saveSVG}
                  一時保存用ファイルをダウンロード
                </button>
              </div>
              <table className="w-full shadow-md text-sm text-left text-gray-500 dark:text-gray-400 table-auto border-collapse">
                <TableHead
                  heads={[
                    "削除",
                    "医薬品名",
                    ...getMonthNames(data[0]),
                    "平均出庫",
                    "現在庫",
                    "仕入単価",
                    "包装単位",
                    "発注数",
                  ]}
                  onSort={(keyName) => {
                    // console.log(keyName);
                    // console.log(sort.isAsc);

                    let newSort = [...data];

                    newSort.sort(function (a, b) {
                      if (sort.isAsc) {
                        return a[keyName] > b[keyName] ? 1 : -1;
                      } else {
                        return b[keyName] > a[keyName] ? 1 : -1;
                      }
                    });

                    // console.log(newSort);

                    setData(newSort);
                    setSort({
                      sortKey: keyName,
                      isAsc: !sort.isAsc,
                    });
                  }}
                />
                <tbody>
                  <TableBody
                    body={data}
                    onChange={(col, inputValue) => {
                      if (inputValue) {
                        const targetIndex = data.findIndex(
                          (e) => col["医薬品名"] === e["医薬品名"]
                        );

                        let newData = [...data];
                        newData[targetIndex]["発注数"] =
                          inputValue.target.value;

                        // console.log(newData[targetIndex]);

                        setData(newData);
                      }
                    }}
                    onClickRemove={(removeData) => {
                      const targetIndex = data.findIndex(
                        (e) => removeData["医薬品名"] === e["医薬品名"]
                      );
                      // console.log(targetIndex);

                      setRemoved([
                        ...removedData,
                        {
                          index: targetIndex,
                          value: data[targetIndex],
                        },
                      ]);

                      setData(
                        data.filter(
                          (e) => e["医薬品名"] !== removeData["医薬品名"]
                        )
                      );
                    }}
                  />
                </tbody>
              </table>
            </div>
            <div className="mt-4 text-right">
              <div
                className="linkButton inline-block cursor-pointer"
                onClick={() => downloadCSV(data)}
              >
                発注用ファイルをダウンロード
              </div>
            </div>

            <div ref={inputJsonRef}></div>
          </div>
        );
      } else {
        return (
          <div className="text-right mt-12">
            <button
              className="linkButton"
              type="submit"
              onClick={() => clickButton()}
            >
              <div className="flex">
                <svg
                  id="progress"
                  role="status"
                  className="w-0 text-indigo-100 dark:text-gray-600 fill-indigo-500"
                  viewBox="0 0 100 101"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor"
                  />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill"
                  />
                </svg>
                作成する
              </div>
            </button>
          </div>
        );
      }
    }
    root.render(<EditableTable />);
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
    integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/encoding-japanese/2.0.0/encoding.min.js"
    integrity="sha512-AhAMtLXTbhq+dyODjwnLcSlytykROxgUhR+gDZmRavVCNj6Gjta5l+8TqGAyLZiNsvJhh3J83ElyhU+5dS2OZw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>