<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/src/output.css" rel="stylesheet" />
    <title>Order To Chois | error</title>
  </head>
  <body class="font-sans my-24 mx-20 text-slate-700">
    <div class="card">
      <h1>計算完了！</h1>
      <p class="mt-4">
        ダウンロードボタン👇 からファイルをダウンロードしてください。
      </p>
      <p class="mt-4 text-slate-600"></p>

      <div class="mt-12">
        <a class="linkButton" href="/download">ダウンロード</a>
      </div>

      <div class="mt-20">
        <a href="/" class="underline text-indigo-600 hover:text-violet-800">
          トップ画面にもどる
        </a>
      </div>
    </div>
  </body>
</html>
