<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/src/output.css" rel="stylesheet" />
    <title>Order To Chois | Edit</title>
  </head>

  <body class="font-sans my-24 mx-2 xl:mx-4 text-slate-700 antialiased">
    <div class="p-4 shadow-md rounded-2xl shadow-blue-500/30">
      <h1>ファイル作成に<span class="gradText">成功！</span>🎉</h1>
      <div id="description"></div>
      <div class="bg-orange-50 ml-8 p-4 rounded-xl mb-12 text-slate-700">
        <h3>🔥 注意</h3>
        <ol class="text-sm leading-relaxed">
          <li>・包装は、CHOISにファイルを取り込んだ後に変更可能なので必要に応じてメモしておきましょう。</li>
          <li>・「削除したデータをもどす」機能はβ版です。並べ替え後に並び替え前の薬を戻すと場所が変わって危険です。</li>
          <li>・出庫数は小数点1桁を四捨五入して表示しています。</li>
        </p>
      </div>

      <div id="root"></div>

      <div class="mt-20">
        <a href="/" class="underline text-indigo-600 hover:text-violet-800">
          トップ画面にもどる
        </a>
      </div>
    </div>

    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
    ></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <!-- 
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script> -->

    <script>
      // toJsonするとなぜかリストとして取り出すことに成功する
      // const test = {{ data|tojson }}
      // console.log(test)
    </script>

    <script src="../static/js/names.js"></script>
    <script src="../static/js/downloadCSV.js"></script>

    <script type="text/babel">
      "use strict";

      // const editList = [
      //   {
      //     医薬品名:
      //       "アイトロールawouhgaoreoairjghoaeirhgoaeriuhgoaeurhguhgoeapruighoaeruhg錠２０ｍｇ",
      //     "2021-12": 230.0,
      //     "2022-01": 290.0,
      //     "2022-02": 90.0,
      //     "2022-03": 290.0,
      //     "2022-04": 260.0,
      //     平均出庫量: 232.0,
      //     在庫数量: 348.0,
      //     JANコード: 4987142291212.0,
      //     仕入単価: 980.0,
      //     包装単位: 100.0,
      //     発注数: 1.0,
      //   },
      //   {
      //     医薬品名: "アザ",
      //     "2021-12": 0.0,
      //     "2022-01": 0.0,
      //     "2022-02": 364.0,
      //     "2022-03": 0.0,
      //     "2022-04": 0.0,
      //     平均出庫量: 72.8,
      //     在庫数量: 36.0,
      //     JANコード: 4987896000184.0,
      //     仕入単価: 1853.0,
      //     包装単位: 100.0,
      //     発注数: 4.0,
      //   },
      //   {
      //     医薬品名: "アジル",
      //     "2021-12": 1394.5,
      //     "2022-01": 1419.5,
      //     "2022-02": 1100.5,
      //     "2022-03": 1363.5,
      //     "2022-04": 1318.5,
      //     平均出庫量: 1319.3,
      //     在庫数量: 475.5,
      //     JANコード: 4987123153270.0,
      //     仕入単価: 41783.0,
      //     包装単位: 500.0,
      //     発注数: 2.0,
      //   },
      //   {
      //     医薬品名: "アジルバ錠２０ｍｇ",
      //     "2021-12": 1171.0,
      //     "2022-01": 1030.0,
      //     "2022-02": 1192.0,
      //     "2022-03": 973.0,
      //     "2022-04": 1133.0,
      //     平均出庫量: 1099.8,
      //     在庫数量: 830.5,
      //     JANコード: 4987123152235.0,
      //     仕入単価: 62452.0,
      //     包装単位: 500.0,
      //     発注数: 1.0,
      //   },
      //   {
      //     医薬品名: "アジルバ錠４０ｍｇ",
      //     "2021-12": 151.0,
      //     "2022-01": 197.0,
      //     "2022-02": 137.0,
      //     "2022-03": 184.0,
      //     "2022-04": 175.0,
      //     平均出庫量: 168.8,
      //     在庫数量: 151.0,
      //     JANコード: 4987123153317.0,
      //     仕入単価: 18728.0,
      //     包装単位: 100.0,
      //     発注数: 1.0,
      //   },
      //   {
      //     医薬品名: "アストミン錠１０ｍｇ",
      //     "2021-12": 78.0,
      //     "2022-01": 0.0,
      //     "2022-02": 30.0,
      //     "2022-03": 0.0,
      //     "2022-04": 54.0,
      //     平均出庫量: 32.4,
      //     在庫数量: 49.0,
      //     JANコード: 4987858100044.0,
      //     仕入単価: 360.0,
      //     包装単位: 100.0,
      //     発注数: 1.0,
      //   },
      //   {
      //     医薬品名: "アスパラ－ＣＡ錠２００",
      //     "2021-12": 0.0,
      //     "2022-01": 572.0,
      //     "2022-02": 0.0,
      //     "2022-03": 180.0,
      //     "2022-04": 0.0,
      //     平均出庫量: 150.4,
      //     在庫数量: 128.0,
      //     JANコード: 4987813704874.0,
      //     仕入単価: 3672.0,
      //     包装単位: 1000.0,
      //     発注数: 1.0,
      //   },
      //   {
      //     医薬品名: "アズノール軟膏０．０３３％",
      //     "2021-12": 300.0,
      //     "2022-01": 330.0,
      //     "2022-02": 360.0,
      //     "2022-03": 110.0,
      //     "2022-04": 50.0,
      //     平均出庫量: 230.0,
      //     在庫数量: 300.0,
      //     JANコード: 4987173016365.0,
      //     仕入単価: 458.0,
      //     包装単位: 200.0,
      //     発注数: 1.0,
      //   },
      //   {
      //     医薬品名: "アドエア２５０ディスカス２８吸入用",
      //     "2021-12": 8.0,
      //     "2022-01": 6.0,
      //     "2022-02": 4.0,
      //     "2022-03": 6.0,
      //     "2022-04": 8.0,
      //     平均出庫量: 6.4,
      //     在庫数量: 7.0,
      //     JANコード: 4987246745161.0,
      //     仕入単価: 3036.0,
      //     包装単位: 1.0,
      //     発注数: 3.0,
      //   },
      //   {
      //     医薬品名: "アドエア２５０ディスカス６０吸入用",
      //     "2021-12": 11.0,
      //     "2022-01": 8.0,
      //     "2022-02": 8.0,
      //     "2022-03": 6.0,
      //     "2022-04": 10.0,
      //     平均出庫量: 8.6,
      //     在庫数量: 6.0,
      //     JANコード: 4987246745222.0,
      //     仕入単価: 6338.0,
      //     包装単位: 1.0,
      //     発注数: 6.0,
      //   },
      //   {
      //     医薬品名: "アドエア５００ディスカス２８吸入用",
      //     "2021-12": 2.0,
      //     "2022-01": 2.0,
      //     "2022-02": 5.0,
      //     "2022-03": 3.0,
      //     "2022-04": 3.0,
      //     平均出庫量: 3.0,
      //     在庫数量: 3.0,
      //     JANコード: 4987246745185.0,
      //     仕入単価: 3247.0,
      //     包装単位: 1.0,
      //     発注数: 2.0,
      //   },
      //   {
      //     医薬品名: "アドフィードパップ４０ｍｇ",
      //     "2021-12": 70.0,
      //     "2022-01": 70.0,
      //     "2022-02": 0.0,
      //     "2022-03": 70.0,
      //     "2022-04": 0.0,
      //     平均出庫量: 42.0,
      //     在庫数量: 0.0,
      //     JANコード: 4987042342076.0,
      //     仕入単価: 1568.0,
      //     包装単位: 140.0,
      //     発注数: 1.0,
      //   },
      //   {
      //     医薬品名: "アミティーザカプセル１２μｇ",
      //     "2021-12": 172.0,
      //     "2022-01": 213.0,
      //     "2022-02": 132.0,
      //     "2022-03": 170.0,
      //     "2022-04": 381.0,
      //     平均出庫量: 213.6,
      //     在庫数量: 236.0,
      //     JANコード: 4987888140287.0,
      //     仕入単価: 4936.0,
      //     包装単位: 100.0,
      //     発注数: 2.0,
      //   },
      //   {
      //     医薬品名: "アミティーザカプセル２４μｇ",
      //     "2021-12": 341.0,
      //     "2022-01": 231.0,
      //     "2022-02": 495.0,
      //     "2022-03": 373.0,
      //     "2022-04": 296.0,
      //     平均出庫量: 347.2,
      //     在庫数量: 144.0,
      //     JANコード: 4987888172097.0,
      //     仕入単価: 9818.0,
      //     包装単位: 100.0,
      //     発注数: 4.0,
      //   },
      //   {
      //     医薬品名: "アミユー配合顆粒",
      //     "2021-12": 595.0,
      //     "2022-01": 557.0,
      //     "2022-02": 432.0,
      //     "2022-03": 742.0,
      //     "2022-04": 354.0,
      //     平均出庫量: 536.0,
      //     在庫数量: 588.0,
      //     JANコード: 4987476165203.0,
      //     仕入単価: 12006.0,
      //     包装単位: 210.0,
      //     発注数: 1.0,
      //   },
      //   {
      //     医薬品名: "アデホスコーワ顆粒１０％",
      //     "2021-12": 411.0,
      //     "2022-01": 908.0,
      //     "2022-02": 452.0,
      //     "2022-03": 413.0,
      //     "2022-04": 861.0,
      //     平均出庫量: 609.0,
      //     在庫数量: 652.0,
      //     JANコード: 4987770528803.0,
      //     仕入単価: 10848.0,
      //     包装単位: 600.0,
      //     発注数: 1.0,
      //   },
      // ];

      // NOTE : この部分はフロント実装後に書き換える
      const editList = {{ data| tojson }}

      const monthNames = getMonthNames(editList[0]);
      const headNames = [
        "削除",
        "医薬品名",
        ...monthNames,
        "平均出庫",
        "現在庫",
        "仕入単価",
        "包装単位",
        "発注数",
      ];

      // NOTE: SVG  -------------------------------------------------------------

      const sortSVG = (
        <svg
          width="20"
          height="20"
          fill="none"
          className="m-1"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.034 2a1 1 0 0 1 .945.673l2.793 8.069a1 1 0 0 1-1.89.654l-.412-1.19H5.597l-.411 1.19a1 1 0 0 1-1.89-.654l2.793-8.07A1 1 0 0 1 7.034 2Zm0 4.057-.744 2.15h1.488l-.744-2.15ZM4.749 13a1 1 0 1 0 0 2H8l-4.05 5.4a1 1 0 0 0 .8 1.6H10a1 1 0 1 0 0-2H6.75l4.05-5.4A1 1 0 0 0 10 13H4.75Zm7.544 3.293a1 1 0 0 1 1.414 0l2.292 2.292V3a1 1 0 1 1 2 0v15.586l2.294-2.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414Z"
            fill="#4f46e599"
          />
        </svg>
      );

      const trashSVG = (
        <svg
          width="24"
          height="24"
          className="mx-auto"
          fill="#F87171"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M10.5 9H9v9h1.5V9Z"></path>
          <path d="M15 9h-1.5v9H15V9Z"></path>
          <path d="M3 4.5V6h1.5v15A1.5 1.5 0 0 0 6 22.5h12a1.5 1.5 0 0 0 1.5-1.5V6H21V4.5H3ZM6 21V6h12v15H6Z"></path>
          <path d="M15 1.5H9V3h6V1.5Z"></path>
        </svg>
      );

      const backSVG = (
        <svg
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7 19a1 1 0 0 0 1 1h5c2.242 0 4.01-.778 5.218-2.023C19.414 16.744 20 15.113 20 13.5c0-1.613-.586-3.244-1.782-4.477C17.01 7.778 15.242 7 13 7H8.414l2.043-2.043a1 1 0 0 0-1.414-1.414l-3.75 3.75a1 1 0 0 0 0 1.414l3.75 3.75a1 1 0 0 0 1.414-1.414L8.414 9H13c1.758 0 2.99.597 3.782 1.415.804.83 1.218 1.948 1.218 3.085s-.414 2.256-1.218 3.085C15.99 17.403 14.758 18 13 18H8a1 1 0 0 0-1 1Z"
            fill="#F6F6F6"
          />
        </svg>
      );

      //----------------------------------------------------------------------

      const desc = ReactDOM.createRoot(document.getElementById("description"));
      function Description() {
        return (
          <ol className="p-4 mt-4 ml-4 text-sm leading-relaxed">
            <li>
              ・画面👇にあるボタンから一括発注用ファイルをダウンロードできます。
            </li>
            <li>
              ・表の右側にある「
              <span className="gradText fonr-semibold">発注数</span>
              」を変えることで、発注量を変えることもできます。
            </li>
            <li className="flex">
              ・{sortSVG} 👈を押すと、リストを並び替えることができます。
            </li>
          </ol>
        );
      }
      desc.render(<Description />);

      const root = ReactDOM.createRoot(document.getElementById("root"));
      function TableHead(props) {
        return (
          <thead className="text-sm text-indido-700 relative">
            <tr className="sticky top-10 bg-gray-50 ">
              {props.heads.map((e, i) => (
                <th
                  key={e}
                  scope="col"
                  className={
                    i === 0
                      ? "py-3 text-center w-12"
                      : i === 1
                      ? "pl-6 mr-4"
                      : "py-3 mr-4 max-w-[80px]"
                  }
                >
                  <div className="flex items-center">
                    {e}
                    {e != "削除" ? (
                      <button
                        className="flex justify-end"
                        onClick={(_) => props.onSort(e)}
                      >
                        {sortSVG}
                      </button>
                    ) : (
                      <div></div>
                    )}
                  </div>
                </th>
              ))}
            </tr>
          </thead>
        );
      }

      function TableBody(props) {
        return props.body.map((e) => (
          <tr
            key={e["医薬品名"]}
            className="bg-white border-b dark:bg-gray-800 hover:bg-indigo-100/30 text-slate-700"
          >
            <th>
              <div className="flex items-start">
                <button
                  className=" hover:bg-slate-200/60 rounded-lg mx-auto p-2"
                  onClick={() => props.onClickRemove(e)}
                >
                  {trashSVG}
                </button>
              </div>
            </th>
            <td
              scope="row"
              className="px-4 py-4 xl:text-lg text-slate-600 font-semibold break-all"
            >
              {e["医薬品名"]}
            </td>
            {monthNames.map((month) => (
              <td
                key={month}
                className="max-w-[80px] text-base font-semibold font-['Segoe_UI']"
              >
                {e[month].toFixed(1)}
              </td>
            ))}

            {bodyNames.map((body) => (
              <td
                key={body}
                className="max-w-[80px] text-base font-semibold font-['Segoe_UI']"
              >
                {e[body].toFixed(1)}
              </td>
            ))}
            <td>
              <input
                type="number"
                className="p-2 font-semibold text-base rounded-lg max-w-[80px] border focus:border focus:outline-none focus:border-indigo-400/60 focus:ring-indigo-400/60 focus:ring-2 "
                value={e["発注数"]}
                // TODO onchange
                onChange={(inputValue) => props.onChange(e, inputValue)}
              />
            </td>
          </tr>
        ));
      }

      // TODO head にデータをいれる
      function EditableTable() {
        const [data, setData] = React.useState(editList);

        // {"index", "value"}をもつオブジェクトとして保管しておく
        const [removedData, setRemoved] = React.useState([]);
        // {"sortKey", isAsc} をもつオブジェクトとして保管しておく
        const [sort, setSort] = React.useState({
          sortKey: "医薬品名",
          isAsc: true,
        });

        return (
          <div>
            <div className="relative overflow-x-auto sm:rounded-lg h-[40rem]">
              <div className="gap-2 mb-4 flex items-center sticky top-0 block bg-white">
                <button
                  onClick={() => {
                    // console.log(removedData);
                    const pastObject = removedData[removedData.length - 1];

                    // console.log(pastObject);

                    if (pastObject) {
                      let newData = [...data];
                      newData.splice(
                        pastObject["index"],
                        0,
                        pastObject["value"]
                      );
                      // console.log(newData);

                      setData(newData);

                      let newRemovedData = [...removedData];
                      newRemovedData.pop();

                      setRemoved(newRemovedData);
                    }
                  }}
                  className="flex gap-2 shadow-indigo-500/30 text-right bg-slate-500 hover:bg-slate-400 text-white font-bold px-4 py-2 rounded-full tracking-wider "
                >
                  {backSVG}
                  削除したデータをもどす
                </button>
              </div>
              <table className="w-full shadow-md text-sm text-left text-gray-500 dark:text-gray-400 table-auto border-collapse">
                <TableHead
                  heads={headNames}
                  onSort={(keyName) => {
                    // console.log(keyName);
                    // console.log(sort.isAsc);

                    let newSort = [...data];

                    newSort.sort(function (a, b) {
                      if (sort.isAsc) {
                        return a[keyName] > b[keyName] ? 1 : -1;
                      } else {
                        return b[keyName] > a[keyName] ? 1 : -1;
                      }
                    });

                    console.log(newSort);

                    setData(newSort);
                    setSort({
                      sortKey: keyName,
                      isAsc: !sort.isAsc,
                    });
                  }}
                />
                <tbody>
                  <TableBody
                    body={data}
                    onChange={(col, inputValue) => {
                      if (inputValue) {
                        const targetIndex = data.findIndex(
                          (e) => col["医薬品名"] === e["医薬品名"]
                        );

                        let newData = [...data];
                        newData[targetIndex]["発注数"] =
                          inputValue.target.value;

                        // console.log(newData[targetIndex]);

                        setData(newData);
                      }
                    }}
                    onClickRemove={(removeData) => {
                      const targetIndex = data.findIndex(
                        (e) => removeData["医薬品名"] === e["医薬品名"]
                      );
                      console.log(targetIndex);

                      setRemoved([
                        ...removedData,
                        {
                          index: targetIndex,
                          value: data[targetIndex],
                        },
                      ]);

                      setData(
                        data.filter(
                          (e) => e["医薬品名"] !== removeData["医薬品名"]
                        )
                      );
                    }}
                  />
                </tbody>
              </table>
            </div>
            <div className="mt-4 text-right">
              <div
                className="linkButton inline-block cursor-pointer"
                onClick={() => downloadCSV(data)}
              >
                発注用ファイルをダウンロード
              </div>
            </div>
          </div>
        );
      }
      root.render(<EditableTable />);
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
      integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/encoding-japanese/2.0.0/encoding.min.js"
      integrity="sha512-AhAMtLXTbhq+dyODjwnLcSlytykROxgUhR+gDZmRavVCNj6Gjta5l+8TqGAyLZiNsvJhh3J83ElyhU+5dS2OZw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
