<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/src/output.css" rel="stylesheet" />
    <title>Order To Chois | error</title>
  </head>
  <body class="font-sans my-24 mx-20">
    <div class="card">
      <h1>🔥 エラー！</h1>
      <p class="mt-4 text-slate-600">
        ファイル送信中にエラーが発生しました。以下のリストを確認してみてください。
      </p>
      <ol
        class="list-disc mt-8 p-8 text-slate-600 bg-slate-50 rounded-xl border border-indigo-50"
      >
        <li>ファイルを3つ選んでいるから確認してみてください。</li>
        <li>
          ファイルはすべて「CSV」です。ほかの形式になっていないか確認してみてください。
        </li>
        <li>
          ファイルをエクセルで開いてしまうと中身が壊れてしまうこともあるので、開かずに選択してみてください。
        </li>
      </ol>

      <div class="mt-8">
        <a
          href="/"
          class="mt-8 shadow-lg shadow-indigo-500/30 text-right bg-gradient-to-br from-blue-500 via-indigo-400 to-sky-500 hover:from-violet-500 hover:to-blue-500 text-white font-bold text-2xl px-8 py-4 rounded-full tracking-widest"
        >
          もどる
        </a>
      </div>
    </div>
  </body>
</html>
